<mat-toolbar color="primary">
  <span>Converter Base64 to XLS</span>
</mat-toolbar>
<div>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <div class="form-group">
      <mat-form-field class="full-width" appearance="fill">
        <textarea
          matInput
          type="text"
          class="form-control input-text-area"
          (keyup)="onKeyTextArea()"
          id="dataBase64"
          placeholder="Enter Base 64"
          formControlName="dataBase64"
        ></textarea>
      </mat-form-field>
    </div>
    <button mat-raised-button class="full-width" color="primary" type="submit">
      Convert To Excel
    </button>
  </form>
</div>
