<div>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <div class="form-group">
      <textarea
        type="text"
        class="form-control"
        (keyup)="onKeyTextArea()"
        id="dataBase64"
        placeholder="Enter Base 64"
        formControlName="dataBase64"
      ></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Encode Base 64</button>
  </form>
  <div [hidden]="isHidden">
    <a
      id="download"
      [href]="'data:application/octet-stream;base64,' + rawDataBase64 | safe"
      download="excel.xls"
      >Your Download Is Ready</a
    >
  </div>
</div>
